#toggle {
    position: fixed;
    right: 40px;
    top: 3%;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11111;
    visibility: hidden;

}

#toggle::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    transform: translateY(-7px);
    transition: .3s;
}

#toggle::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    transform: translateY(7px);
    transition: .3s;
}

.nLink {
    padding: 0 !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

.links a {
    position: relative;
    text-decoration: none;
    margin-left: 20px !important;
    text-align: center;
    padding: 0px 8px 5px 8px !important;
    transition: all .5s !important;
}

@media screen and (max-width: 700px) {
    .links {
        display: none;
        opacity: 0;
    }

    #toggle {
        visibility: visible;
    }
}